<%- include("../header")  %>
<p>Edit <strong><%= actor.first_name %> <%= actor.last_name %></strong>  actor</p>
<hr>
<div class="col-md-8 mx-auto">
    <form action="/actors/<%= actor.id %>?_method=PUT " method="POST">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" name="first_name" value="<%= actor.first_name %>">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name" value="<%= actor.last_name %>">
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="number" step="0.01" class="form-control" name="rating" value="<%= actor.rating %>">
        </div>
        <div class="form-group">
            <label for="favorite_movie_id">Favorite Movie</label>
            <select class="form-control" name="favorite_movie_id">
                <option value="" disabled selected>Choose movie</option>
                <% for (movie of movies) { %>
                <option value="<%= movie.id %> "
                    <%= actor.favorite_movie_id === movie.id ? 'selected' : null %>
                    ><%= movie.title %> </option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary text-right">Guardar Cambios</button>
        </div>
    </form>
</div>

<%- include("../footer")  %>